{% extends "brew/index.html" %}
{% block recipes %}
  {% if recipe %}
    {% if recipe_blends %}
      {% for blend in recipe_blends %}
        {% for ingredient in recipe.ingredients %}
          <div class="ingredients">
              <span>
                  {{ ingredient.amount }}{{ ingredient.unit }}
                  <a href="/recipe/blend/ingredient/{{ ingredient.id }}/">
                      {{ ingredient.name }}
                  </a>
                  {{ ingredient.ratio }}
              </span>
          </div>
        {% endfor %}
      {% endfor %}
    {% else %}
      <p>No blends are in {{ recipe.name }}
    {% endif %}
  {% else %}
    <p>No recipes are available.</p>
  {% endif %}
  <a href="check">Check file</a>
{% endblock %}